<h1 class="text-white p-4">Welcome {{user}}</h1>
<a class=" con mt-3 me-3 p-4 ms-5 " routerLink='/transaction'href="">view transaction history</a>
  <div class="container ">
    <h2 class="mt-3">Deposit</h2>
    <form (ngSubmit)="Deposit()" >
        <div class="form-control">
            <input  name="acnum" type="text" [(ngModel)]="acno"  placeholder="Account number" required />
        </div>

        <div class="form-control">
            <input type="password"[(ngModel)]="psw"  name="password" placeholder="Password"required />
        </div>

        <div class="form-control">
            <input  name="amount" [(ngModel)]="amnt" type="text" placeholder="Amount" required />
        </div>


        <button type="submit"  class=" btn">Deposit</button>
        
    </form>

</div>


<div class="container ">
    <h2 class="mt-3">Withdraw</h2>
    <form (ngSubmit)="Withdraw()">
        <div class="form-control">
            <input  name="acnum1"  [(ngModel)]="acno1" type="text" placeholder="Account number" required />
        </div>

        <div class="form-control">
            <input type="password"[(ngModel)]="psw1" name="password1" placeholder="Password"required />
        </div>

        <div class="form-control">
            <input  name="amount1" [(ngModel)]="amnt1" type="text" placeholder="Amount" required />
        </div>


        <button type="submit"  class=" btn">Withdraw</button>
        
    </form>

</div>