<div>
  
</div>
<div class="container ">
    <h2 class="mt-3">Registration Form</h2>
    <form (ngSubmit)="register()" [formGroup]=" registerForm" >
        <div class="form-control">
            <input  name="username" formControlName="uname"  type="text" placeholder="Username" required />
        </div>

        <div *ngIf="this.registerForm.get('uname')?.errors && this.registerForm.get('uname')?.touched" >
            <p class="text-danger">incurrect username</p>
        </div>

        <div class="form-control">
            <input  name="acnum" formControlName="acno"  type="text" placeholder="Account number" required />
        </div>
        <div *ngIf="this.registerForm.get('acno')?.errors && this.registerForm.get('acno')?.touched" >
            <p class="text-danger">incurrect username</p>
        </div>

        <div class="form-control">
            <input type="password" formControlName="psw" name="password" placeholder="Password"required />
        </div>
    
            <p class="text-danger" *ngIf="this.registerForm.get('psw')?.errors && this.registerForm.get('psw')?.touched">incurrect username</p>
     


        <button type="submit"  class=" btn">Register</button>
        <p class="text">Already have an account? <a routerLink=''>Login</a></p>
    </form>

</div>
